<%- include('../partials/header') %>
<img src="/images/flight.jpg"></img>

        <table>
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Departure Time</th>
                </tr>
            </thead>
    <tbody>
            <tr>
        <% flights.forEach(function(f) { %>
            <td> <%= f.airline %> </td> 
             <td> <%= f.flightNo %></td> 
             <td> <%= f.departs %></td> 
            
        <% }); %>
    </tr>
    </tbody>
    </table>
    
    <%- include('../partials/footer') %>